{% extends 'base.html' %}

{% block meta %}
{% endblock meta %}
{% block content %}

<div class="bg-gray-200" >
    <div class="flex justify-center py-4 relative">
        <div class="text-center">
            <img src="static/images/purahome.png" class="rounded-[40px] inline-block mx-5 max-w-[90%]" />
            <div class="absolute top-0 left-0 h-full w-full flex items-center justify-end pr-4 md:pr-20">
                <div class="text-white text-right space-y-4 max-w-lg pr-4 md:pr-16">
                    <h1 class="text-4xl font-bold">Halo, {{ user.username }}!</h1>
                    <h2 class="text-3xl font-bold hidden md:block">Find Your Souvenirs</h2>
                    <p class="text-lg hidden md:block">We give you Bali's best souvenirs in Denpasar.<br>Discover a wide range of unique and exclusive products. Go, shopping!</p>
                    <span class="px-6 py-2 bg-transparent text-white font-normal rounded-full inline-block border-2 border-white">OlehBali.</span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="text-center mt-10 py-10">
        <p class="text-orange-500 font-bold ">We serve you<p>
        <h2 class="text-5xl text-black font-bold mt-2">Best Features</h2>
        <p class="mt-4 max-w-2xl mx-auto text-gray-600">
            Our store offers a wide variety of Bali souvenirs, including food, clothing, and handmade crafts.
            You'll find all unique items representing Bali's rich culture.
        </p>
    </div>
    <div class="bg-gray-200">
        <div class="flex justify-center py-10">
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
                <div class="bg-white rounded-[30px] shadow-lg p-6 text-center mx-2 transition duration-300 hover:bg-[#FE9642] hover:text-white" style="width: 250px;">
                    <div class="mb-4">
                        <img src="static/images/logo_olehBali.png" class="w-16 h-16 mx-auto" width="40">
                    </div>
                    <h3 class="text-xl text-black font-semibold">Katalog</h3>
                    <br>
                    <p>Discover over 100 souvenir products available in Denpasar. Explore a variety of unique products.</p>
                </div>
    
                <div class="bg-white rounded-[30px] shadow-lg p-6 text-center mx-2 transition duration-300 hover:bg-[#FE9642] hover:text-white" style="width: 250px;">
                    <div class="mb-4">
                        <img src="static/images/logo_olehBali.png" class="w-16 h-16 mx-auto" width="40">
                    </div>
                    <h3 class="text-xl text-black font-semibold">Wishlist</h3>
                    <br>
                    <p>Easily save various products you like. The wishlist allows you to organize and remember your favorite souvenirs.</p>
                </div>
    
                <div class="bg-white rounded-[30px] shadow-lg p-6 text-center mx-2 transition duration-300 hover:bg-[#FE9642] hover:text-white" style="width: 250px;">
                    <div class="mb-4">
                        <img src="static/images/logo_olehBali.png" class="w-16 h-16 mx-auto" width="40">
                    </div>
                    <h3 class="text-xl text-black font-semibold">Community</h3>
                    <br>
                    <p>Join a community of fellow souvenir seekers. Discuss experiences and gain recommendations to find products.</p>
                </div>
    
                <div class="bg-white rounded-[30px] shadow-lg p-6 text-center mx-2 transition duration-300 hover:bg-[#FE9642] hover:text-white" style="width: 250px;">
                    <div class="mb-4">
                        <img src="static/images/logo_olehBali.png" class="w-16 h-16 mx-auto" width="40">
                    </div>
                    <h3 class="text-xl text-black font-semibold">Ask Toko</h3>
                    <br>
                    <p>Directly ask questions to the store owners. Get the information and assistance you need to make better purchasing decisions.</p>
                </div>
            </div>
        </div>
    
        <div class="text-center rounded-[30px] mx-20 my-20 py-10 bg-white shadow-lg">
            <br>
            <h5 class="text-orange-500 font-bold">Let’s Hear</h5>
            <h2 class="text-5xl text-black font-bold mt-2">What People Say</h2>
            <p class="mt-4 max-w-2xl mx-auto text-gray-600">
                Hear from our satisfied customers! Their testimonials reflect the quality and ease of finding the perfect Bali souvenirs, showcasing the positive experiences they’ve had with our offerings.
            </p> <br>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-4 break-words">
            {% for review in reviews %}
                {% include "review-card.html" with review=review %}    
            {% endfor %}
             
        </div>
    </div>
{% endblock content %}