.btn-remove {
    background-color: black;
    color: white;
    padding: 8px 16px;
    border: 2;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Optional: Adjust font size as needed */
}

.btn-remove:hover {
    background-color: darkred; /* Optional: Darken on hover */
}

.image-container {
    border-radius: 10px;
    width: 100%; /* Ensures image fills the container */
    height: 200px; /* Adjust height as needed */
    object-fit: cover; /* Ensures the image covers the entire area */
}
