{% extends 'base.html' %}

{% block meta %}
<title> Wishlist OlehBali</title>
{% endblock meta %}

{% block content %}
<div class="flex justify-center py-10 bg-gray-100">
    <div class="w-full max-w-4xl bg-white p-8 shadow-md rounded-lg">
        <div class="flex justify-between items-center">
            <h1 class="text-4xl font-bold text-black">
                Your <span class="text-[#F39C12]">Wishlist</span>
            </h1>
        </div>

        <div class="mt-10">
            <p class="text-gray-700">Your wishlist is currently empty.</p>
            <br>
        </div>
    </div>
</div>
{% endblock content %}
