<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="header">
      <h1>Cari Oleh-Oleh</h1>
      <div class="searchbar">
        <input type="text" placeholder="Search..." />
        <button></button>
      </div>
    </div>

    <div class="categories">
      <button>Semua</button>
      <button>Makanan</button>
      <button>Minuman</button>
      <button>Kerajinan</button>
      <button>Pakaian</button>
      <button>Lain-lain</button>
    </div>

    <div class="products">
      <div class="product-card">
        <img src="image_url" alt="Product Image" />
        <p>Product Name</p>
        <p>Price</p>
      </div>
      <div class="product-card">
        <img src="image_url" alt="Product Image" />
        <p>Product Name</p>
        <p>Price</p>
      </div>
    </div>
  </body>
</html>
