<footer class="bg-[#03A4C1] p-6 sm:p-12 font-inter text-white text-sm mt-auto">
    <div class="flex flex-col sm:flex-row max-w-3xl mx-auto items-start sm:items-center">
        <div class="flex items-center gap-4 pr-6 md:pr-8">
            <img class="mb-6" src="/static/images/olehBali-logo.png" width="80px" class="sm:w-24">
            <div>
                <h1 class="font-bold text-white text-2xl sm:text-3xl">
                    <span style="color:white">Oleh<span style="color:#F39C12">Bali</span></span>
                    
                </h1>
                <br>
                <p class="font-normal">(+62) 824912847834 </p>
                <br>
                <p class="font-normal">Fakultas Ilmu Komputer, Kampus UI Depok, </p>
                <p class="font-normal">Depok, Jawa Barat, Indonesia (16424)</p>
            </div>
        </div>

        <div class="flex flex-col mt-8 sm:mt-0 sm:ml-16 lg:ml-32">
            <h2 class="font-bold text-xl mb-4">Our Features</h2>
            <div class="grid grid-cols-2 gap-2">
                <a class="hover:text-white hover:underline duration-100" href="/">Home</a>
                <a class="hover:text-white hover:underline duration-100" href="/wishlist">Wishlist</a>
                <a class="hover:text-white hover:underline duration-100"href="/catalog">Katalog</a>
                <a class="hover:text-white hover:underline duration-100"href="/community">Community</a>
                <a class="hover:text-white hover:underline duration-100">Review</a>
            </div>
        </div>
    </div>
</footer>
